<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">???</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All products</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav>
        <h1>My product site</h1>
    </header>

    <footer th:fragment="footer">
        <p>
            Copyright &copy;
            <a href="#">About us!</a>
            <a href="#">Privacy policy</a>
        </p>
    </footer>
</body>
</html>